@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    min-height: 100vh;
}
header{
    
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-size: 8vh;
}
nav p{
    padding-top: 5px;
    font-size: 1.3em;
}
main{

}
main p{
   font-size: 5vh;
   padding-top: 50px;
   padding-bottom: 10px;
   padding-left: 5px;
}
main p#img{
    background-color: rgba(0, 0, 0, 0.375);
}
#img{
    background-image: url(imaguens/imaguens\ de\ funfo.jpg);
    background-position: right center;
    background-size: cover;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
}