@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color:brown ;
    min-height: 100vh;
}
header{
    
    padding: 30px;
    background-color: black;
    color: white;
    text-align: center;
}
header h1{
    font-size: 8vh;
}
nav p{
    padding-top: 5px;
    font-size: 1.3em;
}
main{

}
main p{
   font-size: 5vh;
   padding-top: 50px;
   padding-bottom: 10px;
   padding-left: 5px;
}
footer{
    padding: 10px;
    text-align: center;
    background-color: gray;
    color: black;
}